USE [master]
GO
/****** Object:  Database [Company2]    Script Date: 03.05.2025 11:15:01 ******/
CREATE DATABASE [Company2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Company2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Company2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Company2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company2]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 03.05.2025 11:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Percent] [varchar](50) NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 03.05.2025 11:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatrnerType ] [varchar](50) NULL,
	[Name] [varchar](max) NULL,
	[Director] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[INN] [varchar](50) NULL,
	[Raiting] [varchar](50) NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerProduct]    Script Date: 03.05.2025 11:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NULL,
	[PartnerName] [varchar](100) NULL,
	[Count] [int] NULL,
	[DateSale] [datetime] NULL,
	[PartnerId] [int] NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_PartnerProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03.05.2025 11:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [varchar](100) NULL,
	[Name] [varchar](100) NULL,
	[Art] [varchar](50) NULL,
	[MinPrice] [float] NULL,
	[ProductTypeId] [int] NULL,
	[MaterialTypeId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 03.05.2025 11:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [varchar](100) NULL,
	[Coefficient] [varchar](50) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([Id], [Name], [Percent]) VALUES (1, N'Тип материала 1', N'0,10%')
INSERT [dbo].[MaterialType] ([Id], [Name], [Percent]) VALUES (2, N'Тип материала 2', N'0,95%')
INSERT [dbo].[MaterialType] ([Id], [Name], [Percent]) VALUES (3, N'Тип материала 3', N'0,28%')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner] ON 

INSERT [dbo].[Partner] ([Id], [PatrnerType ], [Name], [Director], [Email], [PhoneNumber], [Address], [INN], [Raiting]) VALUES (1, N'ЗАО', N'База Строитель - 1', N'Иванова Александра Ивановна', N'aleksandraivanova@mail.ru', N'493 123 45 69', N'652050, Кемеровская область, город Юрга, ул. Лесная, 15', N'2222455179', N'12')
INSERT [dbo].[Partner] ([Id], [PatrnerType ], [Name], [Director], [Email], [PhoneNumber], [Address], [INN], [Raiting]) VALUES (2, N'ПАО', N'Паркет', N'Петров Василий Петрович', N'vppetrov@vl.ru', N'987 123 56 78', N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', N'3333888520', N'5')
INSERT [dbo].[Partner] ([Id], [PatrnerType ], [Name], [Director], [Email], [PhoneNumber], [Address], [INN], [Raiting]) VALUES (3, N'ПАО', N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', N'812 223 32 00', N'188910, Ленинградская область, город Приморск, ул. Парковая, 21', N'4440391035', N'7')
SET IDENTITY_INSERT [dbo].[Partner] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerProduct] ON 

INSERT [dbo].[PartnerProduct] ([Id], [ProductName], [PartnerName], [Count], [DateSale], [PartnerId], [ProductId]) VALUES (1, N'Паркетная доска Ясень темный однополосная 14 мм', N'База Строитель', 15500, CAST(N'2023-03-23T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[PartnerProduct] ([Id], [ProductName], [PartnerName], [Count], [DateSale], [PartnerId], [ProductId]) VALUES (2, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', N'База Строитель', 12350, CAST(N'2023-12-18T00:00:00.000' AS DateTime), 1, 3)
INSERT [dbo].[PartnerProduct] ([Id], [ProductName], [PartnerName], [Count], [DateSale], [PartnerId], [ProductId]) VALUES (3, N'Ламинат Дуб серый 32 класс 8 мм с фаской', N'База Строитель', 37400, CAST(N'2024-06-07T00:00:00.000' AS DateTime), 1, 4)
SET IDENTITY_INSERT [dbo].[PartnerProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [ProductTypeName], [Name], [Art], [MinPrice], [ProductTypeId], [MaterialTypeId]) VALUES (1, N'Паркетная доска', N'Паркетная доска Ясень темный однополосная 14 мм', N'8758385', 445.9, 1, 1)
INSERT [dbo].[Product] ([Id], [ProductTypeName], [Name], [Art], [MinPrice], [ProductTypeId], [MaterialTypeId]) VALUES (2, N'Паркетная доска', N'Инженерная доска Дуб Французская елка однополосная 12 мм', N'8858958', 7330.99, 1, 2)
INSERT [dbo].[Product] ([Id], [ProductTypeName], [Name], [Art], [MinPrice], [ProductTypeId], [MaterialTypeId]) VALUES (3, N'Ламинат', N'Ламинат Дуб дымчато-белый 33 класс 12 мм', N'7750282', 1799.33, 1, 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id], [ProductTypeName], [Coefficient]) VALUES (1, N'Ламинат', N'2,35')
INSERT [dbo].[ProductType] ([Id], [ProductTypeName], [Coefficient]) VALUES (2, N'Массивная доска', N'5,15')
INSERT [dbo].[ProductType] ([Id], [ProductTypeName], [Coefficient]) VALUES (3, N'Паркетная доска', N'4,34')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
ALTER TABLE [dbo].[PartnerProduct]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProduct_Partner] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partner] ([Id])
GO
ALTER TABLE [dbo].[PartnerProduct] CHECK CONSTRAINT [FK_PartnerProduct_Partner]
GO
ALTER TABLE [dbo].[PartnerProduct]  WITH CHECK ADD  CONSTRAINT [FK_PartnerProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[PartnerProduct] CHECK CONSTRAINT [FK_PartnerProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_MaterialType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
USE [master]
GO
